.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

.clock{
  margin: 15px 0px 15px 0px;
  border: 1px solid blue;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}

.break, .session{
  display: flex;
  border: 1px solid green;
  border-radius: 25px;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.buttons{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.button{
  font-size: 2rem;
  cursor: pointer;
  width: 40px;
  background-color: lightgray;
}

.button:hover{
  background-color: gray;
}

.display{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#time-left{
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

